@charset "UTF-8";

/* ★★★　index　★★★ */
/* メイン画像をグリッドの配置にする */
.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    list-style: none;
    text-decoration: none;
}
/* リンク */
a {
    text-decoration: none;
    color: black;
}

/* wrapperで表示サイズ調整 */
.wrapper {
    width: 100%;
    max-width: 1360px;
    margin: 20px auto;
    padding: 0 40px;
}
.product-list img {
    width: 100%;
}

.product-list p {
        font-size: 0.8rem;
        line-height: 1.4;
        margin-top: 6px;
    }

/* header */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-title img{
    width: 180px;
}

/* footerを横並び */

#footer .menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin-right: 15px;
}

/* View More */
.link-text {
    display: block; /* タグの内容をブロックとして扱う */
    text-align: center;
    margin-top: 40px;
}

/* ★★★　itemデザイン　★★★ */
.item {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
}
/* img */
.item-img {
    width: 42%;
}
.item-img img {
    width: 100%;
}
/* text */
.item-text {
    width: 50%;
}
.item-text p{
    padding-bottom: 1rem;
    font-size: 15px;
}
.item-text table td {
    padding-right: 1em;
}
.link-text {
    margin: 50px;
}
/* pageTitle */
.page-title {
    font-size: 1.5rem;
    margin-bottom: 20px;
}


/* ★★★　レスポンシブ対応デザイン　★★★ */
@media (max-width: 600px){
    .product-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    /* itemデザイン */

}