@charset "UTF-8";


/* メイン画像をグリッドの配置にする */
.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    list-style: none;
    text-decoration: none;
}
/* リンク */
a {
    text-decoration: none;
    color: black;
}

/* wrapperで表示サイズ調整 */
.wrapper {
    width: 100%;
    max-width: 1360px;
    margin: 0 auto;
    padding: 0 40px;
}
.product-list img {
    width: 100%;
}

/* headerを横並び */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* footerを横並び */

#footer .menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin-right: 15px;
}

/* View More */
.link-text {
    display: block; /* タグの内容をブロックとして扱う */
    text-align: center;
    margin-top: 40px;
}

/* レスポンシブ対応デザイン */
@media (max-width: 600px){
    
}